/**
 * Contains miscellaneous styles like messages
 */

.attribution {
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  color: var(--color-text-secondary);
  font-size: 0.75rem;
  text-align: center;
  a {
    color: inherit;
  }
}
