/**
 * Contains miscellaneous styles like messages
 */

.attribution {
  flex: 0 0 auto;
  color: var(--color-text-secondary);
  font-size: 0.75rem;
  margin: 0.75rem 0;
  text-align: center;
  a {
    color: inherit;
  }
}
